<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SGRADE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/predresult.css') }}">
    <meta property="og:image" content="https://raw.githubusercontent.com/masala-DosAi/PDSA/refs/heads/main/metaimggpred.png">


    
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='sg.ico') }}">
    
    <link href="static/styles/predresult.css" rel="stylesheet">
</head>

<body>
    <header>
    <div class="logo" style="color:white;">SGrade</div>
    <button class="menu-btn" onclick="toggleSidebar()">☰ click here</button>
    <nav>
        <ul>
            <li><a href="https://sgrade.pages.dev">Home</a></li>
            <li><a href="https://sgrade.pages.dev"><img src="static/home.png" style="height:16px;width:16px;"></a></li>
            </ul>
        </nav>
    </header>


    <div class="container">
        <div id="leftbar">
            <div>

               <p><a target="_blank" href="https://github.com/masala-DosAi" style="display: inline-block;"><img src="https://images.seeklogo.com/logo-png/50/2/github-icon-logo-png_seeklogo-503247.png" alt="git" width="32" height="32" /></a>
                  <a target="_blank" href="https://www.linkedin.com/in/yash-jha-186b62295?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app " style="display: inline-block;"><img src="https://pngimg.com/uploads/linkedIn/linkedIn_PNG26.png" alt="git" width="32" height="32" /></a>
              </p>
            </div>
            <h1 style="color:black;">Grade Predictor</h1>

        <table id="ltab">
            <thead>
                <tr>

                    <th>criteria</th>
                    <th>value</th>
                </tr>
            </thead>
            <tbody>
                {% for key, value in req_data.items() %}
                <tr>
                    <td>{{ key }}</td>
                    <td>{{ value }}</td>
                </tr>
                {% endfor %}


            </tbody>


        </table>
        <form action="/return" method="POST">
            <input type="submit" id="calculateButton" value="Return">
        </form>
           

            
        </div>

         <div id="mainbar"> 
            <table id="rtab">
                <thead>
                <tr>
                    <th>S</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>E(pass)</th>
                </tr>

                </thead>
                <tbody>
                    <tr>
                        <td>{{s}}</td>
                        <td>{{a}}</td>
                        <td>{{b}}</td>
                        <td>{{c}}</td>
                        <td>{{d}}</td>
                        <td>{{e}}</td>




                    </tr>
                </tbody>
            </table> 
            
         </div>
        </div>
    </div>
    <script>
        function toggleSidebar() {
    const sidebar = document.getElementById("leftbar");
    sidebar.classList.toggle("show");
}

window.onclick = function(event) {
  const sidebar = document.getElementById("leftbar");
  if (event.target !== sidebar && !sidebar.contains(event.target) && !event.target.classList.contains("menu-btn")) {
    sidebar.classList.remove("show");
  }
};
    </script>

   
    <script src="static/script/pred.js"></script>

</body>

</html>
