.container{
    display:flex;
    flex-direction: row;
    background-color: #22221b;
}

#leftbar{
    display:flex;
    flex-direction: column;
    border:1px solid black;
    height: 100vh;
    justify-content:center;
    align-items: center;
    width:25%;
    background-color: white;
}

#mainbar{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    margin-left: 15%;
}
header {
    background-color: #0f877b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:5px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
    margin-left: 15px;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}
nav ul li {
    margin: 0 15px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    transition: font-size 0.4s ease, font-weight 0.4s ease;
    transition: color 0.5s ease-in-out;
}
nav ul li a:hover{
    font-weight:700;
    font-size: 15px;
    color: #121212;
}
#level,#subject{
    height: 35px;
    width: 154px;
    font-family:sans-serif,Arial, Helvetica ;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
}
#subjectForm input[type="number"]{
    height: 30px;
    width: 150px;
    font-family:sans-serif,Arial, Helvetica ;
    text-align: center;
    font-weight: 700;
    font-size: 15px;

}
#calculateButton{
    margin-top: 5px;
    height: 50px;
    width: 150px;
    font-family:sans-serif,Arial, Helvetica ;
    text-align: center;
    font-weight: 700;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(to right, rgb(29, 253, 8), rgb(4, 208, 231));
    
    transition: background,transform 0.5s ease;
    box-shadow: 0 0 10px rgb(171, 213, 16, 0.5);
    border:1px solid black;

}
#calculateButton:hover{
    background: linear-gradient(45deg, rgb(6, 199, 238), rgb(42, 250, 5));
    
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 0 0 30px rgba(35, 238, 4, 0.7);
   
    transform: scale(1.1);

}
#level option,#subject option{
    background-color:#0f877b;
    font-family: sans-serif;
    font-size: 14px;
    font-weight:600;
}
select:hover, select:focus {
    cursor:pointer !important;
}
#ltab{
    border:2px solid black;
    border-collapse: collapse;
    font-weight:700;
    font-size: 20px;
    text-align: center;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;

}
#rtab {
    border:2px solid rgb(5, 243, 33);
    border-collapse: collapse;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:700;
    font-size: 20px;
    text-align: center;
    width:100%;
    
}
#rtab th, #rtab td {
    border: 2px solid rgb(5, 243, 33); 
    padding: 8px;
    width: calc(100% / 6);
}

#ltab th, #ltab td {
    border: 2px solid black; 
    padding: 10px;
}